<h1>Stygol</h1>
<p>
we are right now working on predictive fashion diffusion algorithm.
To go beyond personal tastes , experience or luck and make the whole process logical.

</p>

<p> want to know more 
 	<%= link_to " ping us ", "http://google.com" , class: "btn btn-success" %>